*.pdf
*.bib
*.aux
*.bbl
*.bcf
*.out
*.xml
*.gz
*.cls
*.log
*.ipynb
*.ini
*.blg
*.gz
*.png
*.cls
project.aux

project.aux
*.toc
Literature_Review.synctex(busy)
*.aux
*.aux
presentation/presentation.nav
presentation/presentation.snm
project.aux
project.aux
QICG/vqls-prototype/
*.synctex(busy)
*.aux
project.aux
